/*plans:
- edit header vid into loop
- use panel scrolling between header and each portfolio example - but how to get site shots responsive??
- adjust svg letter kerning

*/


* {
  box-sizing: border-box;
}

html{
  height: 100%;
  /*overflow:hidden;*/
  font-weight:100;
  /*font-size: 18px;*/
  color: white;
}
body {
  /*font-family: 'Bungee Inline', cursive;*/
/*font-family: 'Bungee', cursive;*/
  font-family: 'Roboto', sans-serif;
  font-family: 'raleway';
  font-family: 'Josefin Sans';
font-family: 'PT Mono', monospace; /*I like this K and lettering. Just needs kerning*/
font-family: 'VT323', monospace;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Chakra Petch', sans-serif; /*I like this K, letters good in upper and lowercases*/
font-family: 'Cairo', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Cantarell', sans-serif;
font-family: 'PT Mono', monospace;
font-family: 'Fira Mono', monospace;
font-family: 'Share Tech', monospace;
  /*like space mono lower and uppercase*/
/*font-family: 'Amaranth', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Anonymous Pro', monospace;*/


  /*font-kerning: none;*/
  /*font-size: 35em;*/
  letter-spacing:-0.03em;
  /*height: 100%;*/
  background: #121416;
  background: #00000F;
  background: #000116;
  color: #daf7ee;
}

eb {
  
  
  /*font-size is determining the svg location*/
  line-height: 0;
  /*line-height: 0 fixes until <350px*/
  
}

svg {
  width: 100%;
  height: 100%;
  position: relative;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 33.25em;
/*    margin-bottom: 2rem;
  margin-top: 2rem;*/
}

.first-name {
  /*font-size: .53em;*/
}

.last-name {
  /*font-size: .3em;*/
}

.byline {
  font-size: .1325em;
  font-size: .1035em;
  font-family: 'PT Mono', monospace;
}

svg text {
  text-anchor: middle;
}
svg mask rect {
  fill: rgba(255, 255, 255, .995);
  /*fill: #2BFEBA;*/
}
svg > rect {
  fill: #0B24FB;
  /*fill: #0920e1;*/
  fill: #2BFEBA;
  fill: #2EFFFE;
  -webkit-mask: url(#mask);
  mask: url(#mask);
  /*opacity: .95;*/
    
}
video{
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  /*min-height: 100%;*/
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
  filter: contrast(1.2);
  filter: brightness(2.5);
  position:absolute;
  display: block;
}

header {
  /*height: 500px;*/
  position: relative;
  /*background: lightgreen;*/
  /*border:10px solid red;*/
  overflow: hidden;
  
  font-family: 'raleway';
  font-family: 'Josefin Sans';
  font-family: 'PT Mono', monospace; /*I like this K and lettering. Just needs kerning*/
  font-family: 'VT323', monospace;
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Muli', sans-serif;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Chakra Petch', sans-serif; /*I like this K, letters good in upper and lowercases*/
  font-family: 'Cairo', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-family: 'Cantarell', sans-serif;
  font-family: 'PT Mono', monospace;
  font-family: 'Fira Mono', monospace;
  font-family: 'Share Tech', monospace;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Anonymous Pro', monospace;*/
  border-bottom: 1px solid blue;
}

main {
  font-size: 15px;
/*  color: white;
  width: 90%;
  letter-spacing: 1px;*/
  font-family: 'PT Mono', monospace;
/*  margin: 0 auto;
  color: #0B24FB;
  color: #2BFEBA;
  text-align: center;*/


}

@media only screen and (max-width: 350px) {
  html{
    font-size:0.85em;
    font-weight:400;
  }
}


/*FROM OLD SITE*/
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}



.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  40% {
    opacity: .3;
  }

  50% {
    transform: translate3d(0, -10px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
    opacity: .7;
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
}

.not-hidden {
    visibility: visible;
    opacity: 1;
    transform: translateY(1px);
}


a {
  color: #F6856C;
  text-decoration: none;
}

a:visited {
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #01BACC;
  font-size: 69px;
  padding: 5px;
  padding-bottom: 1px;
  margin: 7px 0 0 0;
}

ul {
  padding: 10px;
  background: rgba(0,0,0,0.3);
  color: #7CC186;
}

li {
  display: inline;
  padding: 0px 15px 0px 15px;
}
  
/*h2 {
   font-family: 'Economica', sans-serif;
   font-weight: normal;
   font-size: 36px;
   margin: -50px 0 50px 0;
   margin: 0 0 50px 0;
   }*/
   
h3 {
  font-family: 'Economica', sans-serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px -2px 0px #FC4645, 3px 2px 0px blue;
  color: #2BFEBA;
  color: #2EFFFE;
}

p {
  line-height: 1.35rem;
}
   
.wrapper {
  max-width: 68%;
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
}

footer {
 background: #31363C;
 background-size: cover;
 margin: 0 auto;
}

footer h3 {
color: #01BACC;
}

.contact {
  max-width: 500px;
  padding: 20px 20px 50px 20px;
  margin: 0 auto;
  color: white;
 }
 
.contact a {
  color: #01BACC;
  text-decoration: underline;
}
 
.about {
  /*max-width: 500px;*/
  padding: 20px 20px 0 20px;
  margin: 0 auto;
}

.portfolio {
  margin: 0 auto;
}

.portfolio h3 {
}

.portfolio a{
  color: #31363C;
}

.portfolio img {
  width: 100%;
  border-radius: 5px;
}

.portfolio p {
  margin: 0 0 3em 0;
}

.port-item {
  position: relative;
  border-radius: 15px;
  margin-bottom: 2em;
  transition: all 300ms ease-in-out;
}

.item-overlay {
  background: black;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.item-overlay:hover {
  opacity: .2;
}
   
@media (max-width: 500px) {

  li {
    padding: 5px;
    display: block;
  }

  h2 {
    font-size: 25px;
  }

  h1 {
    font-size: 49px;
  }

  body {
    font-size: 15px;
  }

  h3 {
    font-size: 25px;
  }

}